<div class="container-fluid">
  <div class="rower" align="center" style="position: relative;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
">
  <div class="row-wrap" align="center">

    <div class="col">
      <h1 style="font-size: 3.5rem;color: white">
        Millions of people use <strong>DocQreate</strong> every day
      </h1>
    </div>
  </div>
  <br>
  <div class="row mast" align="center" >
    <div class="col">
      <h1>
         JP MORGAN CHASE
      </h1>
      <p>
        DocQreate is an easy-to-use, intuitive tool, and everyone is happy using
        it. The way that we have been able to customize the editor is fantastic....
      </p>
    </div>
    <div class="col">
      <h1>
          <img
            src="../../../assets/thomson-reuters-logo-svg-vector.svg" width="300px"
           />
      </h1>
      <p>We’re very satisfied with DocQreate’s features, functionality, ease of integration, and the impeccable support team....</p>
    </div>
    <div class="col">
      <h1>ACTION FACTORY</h1>
      <p>DocQreate is the best plug-and-play rich text editor solution. Plus the cloud delivery automates the editor updates and takes server configuration off my plate....
        </p>
    </div>
  </div>
  </div>
</div>
