<div class="container-fluid" width="100%">
  <!-- <div class="row">
    <div
      class="col justify-content-center"
      style="font-family: sans-serif;color:white;text-align: center"
    >
      <h1 style="font-size:4vw;margin:40px 0 0 0">However eu</h1>
      <p>Sed eu running live in fear of convenience.</p>
    </div>
  </div>
  <div class="row" style="color:white;margin:40px 0 0 0" Align="center">
    <div class="col-lg-3 col-md-6 col-sm-6 col-10">
      <i
        class="fa fa-laptop"
        style="font-size:64px;color:white;border-radius: 100%;border:2px solid lightgray;padding:40px"
      ></i>
      <br>
      <h2>Diam et faucibus</h2>
      <p>Aliquet dis eu suscipit nisl </p>
      <p>nascetur commodo etiam diam. </p>
      <p>Egestas vestibulum sem.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-10">
      <i
        class="fa fa-cog"
        style="font-size:64px;color:white;border-radius: 100%;border:2px solid lightgray;padding:40px"
      ></i>
      <br>
      <h2>Diam et faucibus</h2>
      <p>Aliquet dis eu suscipit nisl </p>
      <p>nascetur commodo etiam diam. </p>
      <p>Egestas vestibulum sem.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-10">
      <i
        class="fa fa-bar-chart-o"
        style="font-size:64px;color:white;border-radius: 100%;border:2px solid lightgray;padding:40px"
      ></i>
      <br>
      <h2>Diam et faucibus</h2>
      <p>Aliquet dis eu suscipit nisl </p>
      <p>nascetur commodo etiam diam. </p>
      <p>Egestas vestibulum sem.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-10">
      <i
        class="fa fa-laptop"
        style="font-size:64px;color:white;border-radius: 100%;border:2px solid lightgray;padding:40px"
      ></i>
      <br>
      <h2>Diam et faucibus</h2>
      <p>Aliquet dis eu suscipit nisl </p>
      <p>nascetur commodo etiam diam. </p>
      <p>Egestas vestibulum sem.</p>
    </div>
  </div>
  <div class="row" align="center" style="margin:40px 0 40px 0;">
    <div class="col">
        <button type="button" class="btn btn-light" style="padding:15px 25px;font-size: large;border-radius: 8px;"><strong>Tips for Large and Freight</strong></button>
    </div>
  </div> -->
  <!-- <div class="row justify-content-center" style="background-color:#343E49;z-index: -1">
      <div class="col-lg-3 col-md-3 col-sm-3 title" Align="center">
          <h4 style="color:white;margin:auto;padding:20px 20px;">Urn gate pregnant</h4>
      </div>
</div> -->
</div>

